body{
  background-image: url(../images/wallhaven-6k98vq.jpg);
}

/* -------------------------
      flexbox containers
   -------------------------*/


 .container1,.container2{
                                         display:flex;
                                         /* border-style: solid;
                                         border-color: black; */
                                         height: auto;
                                         padding: 10px;
                                         margin-top: 2em;
                                         
                                    }
.container2{
                            margin-top: 3em;
                       }
.container1,.container2,.container3{
  font-style: italic;
  background-color: white;
  /* border-style: solid;
  border-color: black; */
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
/* ----------------
      FIRST FLEX 
   ----------------*/
.first{
          flex: 2;
          font-size:25px;
          margin-top: auto;
          margin-bottom: auto;
      
      }
.second {
           flex: 1;
        }

.aim{
    margin: 2em;
}
.second img{
    width: 300px;
    /* height: 250px;  */
    margin: auto;
    margin-left: 6em;
}
/* ----------------
      SECOND FLEX 
   ----------------*/


.first1{
             flex: 1;
             flex-wrap: wrap; 
             font-size:25px;
             order: 2;
             margin-top: auto;
             margin-bottom: auto;
       }
.second1{
             order: 1;
        }
.second1 img{
            width: 280px;
            margin-left: 2em;
            margin-top: 1em;
            margin-bottom: 1em;
           

            }
.inspiration{
    margin: 2.5em;
}


/* ----------------
      THIRD FLEX 
   ----------------*/

.container3{
             display: flex;
             
             padding: 0px;
             margin-top: 3em;
             margin-bottom: 2em;
           }


.first3{
          flex: 2;
          font-size:30px;
          margin-top: auto;
          margin-bottom: auto;
       }
.first3 p{
    margin: 1.5em;
    font-size: 25px;
}

.second3{
            flex: 1;
        }


.second3 img  {
                   width: 350px;
                   margin: 2em;
                   margin-left: 3em;
              }


              p{
                opacity: 75%;
              }
/* ----------------
      FLEXBOX END 
   ----------------*/

  
  /* NAV BRAND LOGO */
  
  
  .top-style img{
    width: 45%;
    
  }

  .top-style h3{
    position: absolute;
    top: 30%;
    left:70.2%;
    color: #ffc93c ;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .bid{
    position: absolute;
    top: 15%;
    left:55%;
    font-size: 100px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  