body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Carousel effect */
.carousel-item {
  margin: auto;
  margin-top: 0;
  width: 100%;
  height: 400px;
}
.carousel-outer {
  background-color: black;
}

/* input element of e-mail */
input.new-box {
  width: 80%;
  display: block;
  margin: 30px auto;
  padding: 20px 20px 10px 20px;
  margin-bottom: 5px;
  outline: none;
  border: 1.4px solid black;
  border-radius: 5px;
  background: none;
  font-family: "Adobe Garamond W08", adobe-garamond-pro, AGaramondPro-Regular,
    "Times New Roman", Times, serif;
}
small.myText{
 color: #777;
 font-weight: bolder;
}
/* login button in login page */
.mybtn {
  position: relative;
  width: 80%;
  margin-left: 40px;
  outline: 0;
  box-shadow: none;
  z-index: 2;
}
/* containing email and it's content */
.first-box {
  position: relative;
  padding-bottom: 5px;
}
.Email {
  font-size: 0.9rem;
  position: absolute;
  left: 65px;
}
/* containing password and it's content */
.second-box {
  position: relative;
  padding-bottom: 10px;
}
/* error message class for small tag */
.error {
  visibility: hidden;
}
.error-message {
  color: red;
  padding-left: 50px;
  display: block;
  text-align: left;
  visibility: visible;
}
/* password label */
.Password {
  font-size: 0.9rem;
  position: absolute;
  left: 65px;
}
.close-button {
  font-size: 1rem;
  position: absolute;
  top: 0px;
  right: 4px;
}
#forget-link {
  padding: 10px;
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.forgot {
  color: rgba(26, 26, 26, 0.502);
  display: inline-block;
  font-size: 0.8rem;
}
.forgot:hover {
  text-decoration: none;
}

.form-check{
  width: 80%;
  margin: auto;
}

/* SignUp page */

.popup1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
}
.popupcontent1 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 600px;
  max-width: 100%;
  z-index: 2;
  margin-top: 20px;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form1 {
  padding: 30px 40px;
}

.signUpbox {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.signUpbox label {
  display: inline-block;
  margin-bottom: 5px;
}

.signUpbox input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.signUpbox input:focus {
  outline: 0;
  border-color: #777;
}

.signUpbox.success input {
  border-color: #2ecc71;
}

.signUpbox.error1 input {
  border-color: #e74c3c;
}

.signUpbox small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.signUpbox.error1 small {
  visibility: visible;
}

.form1 button {
  width: 100%;
  outline: 0;
  box-shadow: none;
  z-index: 2;
}